<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net"
		         type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<log4net>
		<root>
			<level value="INFO" />
		</root>
		<logger name="PatternRecognition">
			<level value="DEBUG" />
			<appender-ref ref="PatternRecognitionUIAppender" />
		</logger>
		<logger name="PatternRecognition.NeuralNetworks" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="NeuralNetworksAppender" />
		</logger>
		<logger name="PatternRecognition.NeuralNetworks.Networks" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="NetworksAppender" />
		</logger>
		<logger name="PatternRecognition.NeuralNetworks.Neurons" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="NeuronsAppender" />
		</logger>
		<logger name="PatternRecognition.NeuralNetworks.Teaching" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="TeachingAppender" />
		</logger>
		<appender name="PatternRecognitionUIAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_ui.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="NeuralNetworksAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_neural.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="NetworksAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_networks.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="NeuronsAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_neurons.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
		<appender name="TeachingAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="logs/logs_teaching.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="5MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger.%method - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>